@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Belleza&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Federo&family=Gloria+Hallelujah&family=Italiana&family=Krona+One&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&family=Rock+Salt&display=swap');

body{
    padding-top: 7rem;
}

/* -----------------------------------------------HEADER----------------------------------------------------------- */
/* header {
    display: block;
    overflow: hidden;
    margin-top: 50px;
}
.header-img {

    width: 85px;
}
header img {
    display: block;
    width: 85px;
    float: left;
}
.header-heading {
    display: block;
    margin: 0px auto 0px auto;
    max-width: 600px;
}
.header-heading h1 {
    font-family: 'Krona One', sans-serif; 
    font-size: 62px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0px;
    text-align: center;
    color: rgb(255, 87, 88);
    line-height: 1;
} */

/* ------------------------------------------NAVBAR---------------------------------------------- */
.navbar{
    background-color: rgba(7, 82, 196, 0.75);
}
nav a {
    font-family: 'Krona One', cursive;
    font-size: 10pt;
    text-decoration: none;
    color: #fdfdfd !important;
}
  .navbar .navbar-collapse {
    text-align: end;
  }
.nav-link{
    padding: 1rem;
}

.navbar-toggler {
    border: 0px;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* --------------------------------------   Nedan kommer content ---------------------------------------------- */

section {   
    text-align: center;
}
section div {
    height: auto;
}
#introduction .row, #projects .row{
    border-bottom: 1px solid rgb(82, 78, 78);
    padding-bottom: 5rem;
    margin: 4rem auto;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-text {
    font-family: 'cormorant', cursive;
    color: #636363;
    margin-top: 10px;
    font-size: 36pt;
    font-weight: bold;
}


.big-text p{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

#profile-img{
    height: 300px;
}

.first-project {
    background-color: #289d57a6;
    padding-top: 7rem;
    justify-content: center;
    display: inline-block;
    margin-bottom: 3rem;
}

#koket-img{
    height: auto;
    width: 824px;
    max-width: 100%;
}

.second-project{
    background-color: #F6E3A6;
    display: inline-block;
    padding-top: 3.5rem;
    min-width: 400px;
}

#pixer-img{
    max-width: 100%;
    height: auto;
    max-height: 400px;
    padding-left: 5rem;
}

.third-project{
    background-color: #F1DDDD;
    display: inline-block;
    padding-top: 3.5rem;

}

#kvittisar-img{
    max-width: 100%;
    height: auto;
    max-height: 400px;
    padding-left: 5rem;

}


.project.big-text {
    font-family: 'cormorant', cursive;
    color: #636363;
    margin-top: 10px;
    font-size: 36pt;
    font-weight: bold;
    text-transform: uppercase;
}

p.ingress-text {
    font-size: 12pt;
    color: #636363;
}

/* .thaiNoodles-img {
    animation: bounce;
    animation-duration: 2s;
}

.spicyShrimp-img {
    animation: flash;
    animation-duration: 2s;
    animation-delay: 3s;
}

.mortar-img {
    animation: rubberBand;
    animation-duration: 2s;
    animation-delay: 6s;
}

.carvedFruit-img {
    animation: swing;
    animation-duration: 2s;
    animation-delay: 9s;
} */


#contactForm{
    max-width: 50rem;
    margin: 4rem auto;

}

/* --------------------------------------   Nedan kommer footer   ---------------------------------------------- */

footer {
    background-color:rgba(7, 82, 196, 0.75);
    /* margin-top: 30px; */
    text-align: center;
    font-size: 10pt;
    font-weight: lighter;
}
footer p{
    margin-bottom: 0;
    padding: 1rem;
    color: #fdfdfd;
}
